@model Practies.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">سینما</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
      
        <header><h2>ایمیل کاربری</h2></header>

        <div class="form-layer">

            <form  method="post"> 

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" asp-for="Email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                <div class="text-danger" asp-validation-summary="All">

                </div>

               <input type="submit" value="بررسی ایمیل کاربری" />

            </form>
        </div>

    </div>
</main>
