@model Practies.Core.DTOs.ResetForgotPasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">سینما</a></li>
        <li class="breadcrumb-item active" aria-current="page">تغییر کلمه عبور</li>
    </ul>
</nav>


<header><h2> بازیابی رمز عبور </h2></header>

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="@ViewData["UserId"]" />

        <div class="input-group">
            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
            <input asp-for="Password" class="form-control" placeholder="رمز عبور" aria-describedby="email-address">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
            <input asp-for="RePassword" class="form-control" placeholder="تکرار رمزعبور" aria-describedby="email-address">
        </div>
        <div class="text-danger" asp-validation-summary="All">

        </div>

        <button class="btn btn-success">بازیابی </button>

    </form>
</div>

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-info">
        <p>کلمه عبور شما با موفقیت تغییر یافت</p>
    </div>
}
